$notifications-width: 300px;
$search-width: 400px;

.mui-app-bar {
  .right { float: right; }
}

.mui-left-nav {
  h1 {
    cursor: pointer;
    @extend .mui-font-style-headline;
    @extend .mui-text-full-white;
    line-height: $app-bar-height;
    @extend .mui-font-weight-light;
    background-color: $primary-1-color;
    padding-left: $desktop-gutter;
    padding-top: 0;
    margin-bottom: $desktop-gutter-mini;
  }
}

.right-nav {
  position: relative;
  display: inline-block;

  .mui-menu {
    width: 240px;
    position: fixed;
    top: $app-bar-height;
    right: 0;

    &.mui-visible {
      bottom: 0;
      height: auto !important;
    }

    .mui-paper-container {
      padding-bottom: $desktop-gutter-mini;
    }
  }
}

.app-bar-dropdown {
  position: relative;
  display: inline-block;

  &.notifications {
    .mui-paper { width: $notifications-width; }

    .scrollable {
      padding-right: $desktop-gutter;
      width: $notifications-width - $desktop-gutter;
      height: 100%;
    }

    @media only screen and (max-width: 320px) {
      $notifications-width: 260px;
      .mui-paper { width: $notifications-width; }
      .scrollable { width: $notifications-width - $desktop-gutter; }
    }
  }

  &.search {
    .mui-paper { width: $search-width; }

    .scrollable {
      padding-right: $desktop-gutter;
      width: $search-width - $desktop-gutter;
      height: 100%;
    }

    .header {
      .mui-icon-button {
        color: $body-text-color;
        padding: 0;
        float: right;
      }

      .mui-input { margin-right: 40px; }
      input { width: 100%; }
    }

    @media only screen and (max-width: 320px) {
      $search-width: 260px;
      .mui-paper { width: $search-width; }
      .scrollable { width: $search-width - $desktop-gutter; }
    }
  }


  .mui-paper {
    background: $canvas-color;
    position: absolute;
    top: 0;
    right: -$desktop-gutter-less;
    opacity: 1;

    @include ease-out();

    &.off {
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }

  li { list-style: none; }

  h3 .mui-icon-button {
    color: $body-text-color;
    margin-left: $desktop-gutter-less;
    padding: 0;
    float: right;
  }

  h4 {
    @extend .mui-font-style-subhead-1;
    @extend .mui-font-weight-medium;
    margin: 0 0 3px 0;
  }

  p {
    padding: 0;
    max-height: 42px;
    overflow: hidden;
  }
}

// add scrollbar to selected items
.app-bar-dropdown .scrollable,
.scrollable.mui-left-nav .mui-menu .mui-paper-container,
.scrollable.mui-menu .mui-paper-container {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto !important;
}
