$device-large-width: 900px;
$canvas-color: lighten(#00451f, 86%);
$primary-1-color: darken(#00451f, 2%);
$primary-2-color: #00451f;
$primary-3-color: lighten(#00451f, 10%);
$input-bar-color: lighten(#00451f, 15%);
