/* Run morbo with MOJO_ASSETPACK_NO_CACHE=1 to compile this file on each request */

@import "mixins";
@import "fonts";
@import "variables";
@import "material-ui/main";
@import "html";
@import "page-with-nav";
@import "loader";

.mui-app-bar {
  .right { float: right; }
}

.mui-left-nav {
  h1 {
    cursor: pointer;
    @extend .mui-font-style-headline;
    @extend .mui-text-full-white;
    line-height: $app-bar-height;
    @extend .mui-font-weight-light;
    background-color: $primary-1-color;
    padding-left: $desktop-gutter;
    padding-top: 0;
    margin-bottom: $desktop-gutter-mini;
  }
}

.mui-menu.right-nav {
  width: 200px;
  position: fixed;
  top: 6px;
  right: 40px;
  z-index: 10;

  @media #{$device-large} {
    top: $app-bar-height;
    height: auto !important;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

// @import "gist";
// @import "link-embedder";
